<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:msb="http://www.mashibing.com/schema/user"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
        http://www.mashibing.com/schema/user http://www.mashibing.com/schema/user.xsd">

<!--    <msb:user id="msb" userName="lian" email="lian@msb.com" password="123456"></msb:user>-->
    <context:property-placeholder location="classpath:db.properties" ></context:property-placeholder>
    <bean id="person2" class="com.mashibing.Person"  >
        <constructor-arg index="0" value="2">
        </constructor-arg>
        <constructor-arg index="1" value="lisi"></constructor-arg>
    </bean>
    <bean id="person"  class="com.mashibing.Person" >
<!--        <lookup-method></lookup-method>-->
<!--        <replaced-method></replaced-method>-->
        <property name="id" value="1"></property>
        <property name="name" value="zhangsan"></property>
    </bean>
<!--    <bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
<!--            <property name="username" value="${jdbc.username}"></property>-->
<!--    </bean>-->
<!--    <bean id="a" class="com.mashibing.A" scope="prototype">-->
<!--        <property name="b" ref="b"></property>-->
<!--    </bean>-->
<!--    <bean id="b" class="com.mashibing.B" scope="prototype">-->
<!--        <property name="a" ref="a"></property>-->
<!--    </bean>-->
</beans>